@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.parent-container {
  height: 90vh;
  display: flex;
  overflow: auto;
}

#grandparent-container{
  display: flex;
  flex-direction: column;
}


#branding{
  height: 10vh;
  color:#6d84f6;
  display: flex;
  gap: 2ch;
}
#branding h1{
  margin-top: 8px;
  margin-left: 16px;
}
.left-container {
  width: 40ch;
  height: 90vh;
  background-color: #252837;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.left-container::-webkit-scrollbar {
  width: 1px;
}
.right-container {
  height: 90vh;
  width: 70ch;
  background-color: #1f1f2b;
  flex-grow: 8;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  border-bottom-style: solid;
  background-color: #303344;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  height: 4ch;
  padding-left: 2ch;
  padding-right: 1ch;
}

.user-details {
  display: flex;
  gap: 2ch;
  align-items: center;
}

.user-details button {
  border-style: none;
  border-radius: 1ch;
  width: 8ch;
  height: 4ch;
  border-style: solid;
  border-width: 1px;
}

#profile {
  border-color: #1f1f2b00;
  background-color: #1f1f2b;
  border-radius: 3ch;
  width: 5ch;
  height: 5ch;
  margin-right: 3ch;
  padding-top: 1px;
  padding-right: 2px;
  background-color: #6d84f6;
}

#profile:hover {
  color: aliceblue;
  background-color: aliceblue;
  cursor: pointer;
}

.profile-icon {
  margin-left: -6px;
  margin-top: -1px;
}

.user-details button:hover {
  background-color: #303344;
  color: crimson;
  border-style: solid;
  border-color: crimson;
  border-width: 1px;
  cursor: pointer;
}

.top h2 {
  height: 2ch;
  margin-top: 1ch;
  margin-bottom: 0ch;
  color: aliceblue;
}

.middle {
  padding: 1ch;
  height: 20ch;
  background-color: #1f1f2b;
  flex-grow: 15;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #1F1F2B;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='488' height='488' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232B2760' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%235061B5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.middle::-webkit-scrollbar {
  width: 1px;
}

.from-message {
  width: auto;
  margin: 2px;
  background-color: #6d84f6;
  align-self: flex-end;
  padding: 5px;
  border-radius: 1ch;
  color: aliceblue;
}
.from-message p {
  font-size: small;
  color: #1f1f2b;
  margin: 2px;
}
.from-message h4 {
  margin: 2px;
}

.to-message {
  align-self: flex-start;
  width: auto;
  margin: 2px;
  background-color: #303344;
  padding: 5px;
  border-radius: 1ch;
  color: aliceblue;
}
.to-message p {
  color: #6d84f6;
  font-size: small;
  margin: 2px;
}

.to-message h4 {
  margin: 2px;
}

.bottom {
  background-color: #303344;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2ch;
}

.bottom input {
  height: 4ch;
  width: 85%;
  border-radius: 2ch;
  border-style: none;
  padding: 1ch;
  padding-left: 2ch;
  padding-right: 2ch;
  margin-right: 0ch;
  outline: none;
}

.bottom button {
  width: 4ch;
  height: 4ch;
  border-radius: 4ch;
  margin-left: 0ch;
  border-style: none;
  font-size:20px;
}

.bottom button:hover {
  background-color: #6d84f6;
  color: aliceblue;
  cursor: pointer;
}

.MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root{
  margin-top: 4px;
  margin-left: 2px;
  position: relative;
  right: -2px;
  width: 24px;
  height: 24px;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1f1f2b;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #181A23;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23292f4d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%233a4477' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%234b5aa2' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%235c6fcc' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%236D84F6' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

.search {
  width: 85%;
  height: 4ch;
  margin-top: 3ch;
  padding: 2ch;
  background-color: #1f1f2b;
  border-style: solid;
  border-color: #1F1F2B;
  border-radius: 1ch;
  outline: none;
  color: aliceblue;
}

.search:focus{
  border-color: aliceblue;
  border-style: solid;
}



.contact-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 2ch;
  align-items: center;
}

.contact-card {
  color: aliceblue;
  border-radius: 1ch;
  background-color: #303344;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
  width: 100%;
  margin: 1ch;
  height: 10ch;
}

.contact-card:hover {
  background-color: #6d84f6;
  cursor: pointer;
  cursor: pointer;
}

.selected-contact-card {
  background-color: #6d84f6;
  color: aliceblue;
  border-radius: 1ch;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
  width: 100%;
  margin: 1ch;
  height: 10ch;
}


.login-table {
  width: 50ch;
  margin: auto;
  margin-top: 6ch;
  height: 45ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-table h1{
  font-style: normal;
  margin-bottom: 5px;
}

.login-table input {
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color: #303344;
  padding: 1px;
  padding-left: 10px;
}

#labels{
  align-self: self-start;
  margin-left: 6ch;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 12px;
}

.enabledButton {
  height: 5ch;
  width: 80%;
  background-color: #6d84f6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
}

.disabledButton {
  height: 5ch;
  width: 80%;
  background-color: aliceblue;
  border-radius: 1ch;
  border-style: solid;
  border-color: #6d84f6;
  color: #6d84f6;
}

.disabledButton:hover {
  background-color: aliceblue;
  cursor: not-allowed;
}

.enabledButton:hover {
  background-color: #1f1f2b;
  cursor: pointer;
}

.signup-table {
  width: 50ch;
  margin: auto;
  margin-top: 4ch;
  height: 50ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-table h1{
  font-style: normal;
  margin-bottom: 5px;
}

.signup-table input {
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color: #303344;
  padding: 1px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.signup-table button {
  height: 6ch;
  width: 82%;
  background-color: #6d84f6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
  margin-top: 2ch;
}

.signup-table button:hover {
  background-color: #1f1f2b;
  cursor: pointer;
}

.details-table {
  width: 50ch;
  margin: auto;
  margin-top: 7ch;
  height: 45ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-table input {
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color: #303344;
  padding: 1px;
  margin-bottom: 1ch;
  padding-left: 10px;
}

.details-table button {
  margin-bottom: 3ch;
  height: 6ch;
  width: 80%;
  background-color: #6d84f6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
  margin-top: 2ch;
}

.details-table button:hover {
  background-color: #1f1f2b;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 0;
}

.first-page {
  margin-top: 8ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-page h1 {
  color: #6d84f6;
  margin-bottom: 0ch;
}

.first-page h2 {
  color: aliceblue;
}
.first-page button {
  margin-top: 5ch;
  height: 6ch;
  width: 20ch;
  background-color: aliceblue;
  border-style: none;
  color: #303344;
  border-style: solid;
  border-radius: 1ch;
  font-size: large;
}

.first-page button:hover {
  background-color: #303344;
  color: aliceblue;
  border-color: aliceblue;
  border-style: solid;
  cursor: pointer;
}

.signinerror {
  color: rgba(255, 0, 0, 0.723);
  text-align: center;
}

.sendMes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#pop {
  width: 15ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2ch;
}

#pop h3 {
  margin-top: 1ch;
  margin-bottom: 1ch;
  color: aliceblue;
}

#pop button {
  width: 40%;
  height: 4ch;
  background-color: crimson;
  border-style: none;
  border-radius: 2px;
  color: aliceblue;
}

#pop button:hover {
  background-color: rgba(220, 20, 60, 0.538);
  cursor: pointer;
}

.loader {
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load{
    width: 24px;
    height: 24px;
    border: 5px solid #6d84f6;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


