.parent-container{
  height: 100vh;
  display: flex;
}
.left-container{
  width: 40ch;
  height: 100vh;
  background-color: #252837;
  flex-grow: 2;
  border-radius: 1ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.left-container::-webkit-scrollbar{
  width: 1px;
}
.right-container{
  height: 100vh;
  background-color:#1F1F2B;
  flex-grow: 8;
  border-radius: 1ch;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  background-color:#303344;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  height: 4ch;
  align-items: center;
  padding-left: 2ch;
  padding-right: 1ch;
}

.user-details{
  display: flex;
  gap: 2ch;
  align-items: center;
}

.user-details button{
  border-style: none;
  border-radius: 1ch;
  height: 3ch;
  background-color:crimson;
  color: aliceblue;
  border-style: solid;
  border-color: crimson;
  border-width: 1px;
}

.user-details button:hover{
  background-color: aliceblue;
  color: crimson;
  border-style: solid;
  border-color: crimson;
  border-width: 1px;
}

.top h2{
  height: 2ch;
  margin-top: 1ch;
  margin-bottom: 0ch;
  color: aliceblue;
}




.middle{
  height: 20ch;
  background-color:#1F1F2B;
  flex-grow: 15;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.middle::-webkit-scrollbar{
  width: 1px;
}

.from-message{
  width:auto;
  margin: 1ch;
  background-color: #6D84F6;
  align-self: flex-end;
  padding: 1ch;
  border-radius: 1ch;
  color: aliceblue;
}
.from-message p{
  color:#1F1F2B;
}

.to-message{
  align-self: flex-start;
  width: auto;
  margin: 1ch;
  background-color:#303344;
  padding: 1ch;
  border-radius: 1ch;
  color: aliceblue;
}
.to-message p{
  color: #6D84F6;
}

.bottom{
  background-color:#303344;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2ch;
}

.bottom input{
  height: 4ch;
  width: 90%;
  border-radius: 2ch;
  border-style: none;
  padding: 1ch;
  margin-right: 0ch;
}

.bottom button{
  height: 6ch;
  width: 6ch;
  border-radius:4ch;
  margin-left: 0ch;
  border-style: none;
}

.bottom button:hover{
  background-color: #6D84F6;
  color: aliceblue;
}


html{
  height: 100%;
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:#1F1F2B;
}

.search{
  width: 50%;
  height: 4ch;
  margin-top: 3ch;
  padding: 1ch;
  background-color: #1F1F2B;
  border-style: none;
  border-radius: 1ch;
  outline: none;
}

.contact-list{
  display: flex;
  flex-direction: column;
  padding: 2ch;
  align-items: center;
}

.contact-card{
  color: aliceblue;
  border-radius: 1ch;
  background-color: #303344;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
  width:100%;
  margin: 1ch;
  height: 10ch;
}

.contact-card:hover{
  background-color: #6D84F6;
  cursor: pointer;
}

.login-table{
  width:50ch;
  margin:auto;
  margin-top: 10ch;
  height: 45ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-table input{
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color:#303344;
  padding: 1px;
  padding-left: 5px;
}

.enabledButton{
  height: 5ch;
  width: 80%;
  background-color: #6D84F6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
}

.disabledButton{
  height: 5ch;
  width: 80%;
  background-color: aliceblue;
  border-radius: 1ch;
  border-style: solid;
  border-color: #6D84F6;
  color: #6D84F6;
}

.disabledButton:hover{
  background-color: aliceblue;
  cursor: not-allowed;
}

.enabledButton:hover{
  background-color: #1F1F2B;
  cursor: pointer;
}

.signup-table{
  width:50ch;
  margin:auto;
  margin-top: 10ch;
  height: 45ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-table input{
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color:#303344;
  padding: 1px;
  margin-bottom: 1ch;
  padding-left: 5px;
}

.signup-table button{
  height: 5ch;
  width: 80%;
  background-color: #6D84F6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
  margin-top:2ch;
}

.signup-table button:hover{
  background-color: #1F1F2B;
  cursor: pointer;
}

.first-page{
  margin-top: 10ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-page h1{
  color: #6D84F6;
  margin-bottom: 0ch;
}

.first-page h2{
  color: aliceblue;
}
.first-page button{
  margin-top: 5ch;
  height: 6ch;
  width: 20ch;
  background-color: aliceblue;
  border-style: none;
  color:#303344;
  border-style: solid;
  border-radius: 1ch;
  font-size: large;
}

.first-page button:hover{
  background-color: #303344;
  color: aliceblue;
  border-color: aliceblue;
  border-style: solid;
  cursor: pointer;;
}

.signinerror{
  color: rgba(255, 0, 0, 0.723);
}



