.parent-container {
  height: 93vh;
  display: flex;
  overflow: hidden;
}

#grandparent-container {
  display: flex;
  flex-direction: column;
}

#profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80ch;
  margin: auto;
  margin-top: 3ch;
  padding: 3ch;
  height: 40ch;
  border-radius: 1ch;
  background-color: aliceblue;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2ch;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group p {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 ;
}

.form-group p {
  border: none;
  background-color: #fff;
}

.btn {
  align-self: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1ch;
}

.btn-primary {
  background-color: #6d84f6;
}

.btn-primary:hover {
  background-color: #4a60d2;
}



#branding {
  height: 7vh;
  color: #6d84f6;
  display: flex;
}
#branding h1 {
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 16px;
}
.left-container {
  width: 40ch;
  height: 93vh;
  background-color: #252837;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container {
  height: 93vh;
  width: 70ch;
  background-color: #1f1f2b;
  flex-grow: 8;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  border-bottom-style: solid;
  background-color: #303344;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  height: 4ch;
  padding-left: 2ch;
  padding-right: 1ch;
}

.user-details {
  display: flex;
  gap: 2ch;
  align-items: center;
}

.user-details button {
  border-style: none;
  border-radius: 1ch;
  width: 8ch;
  height: 4ch;
  border-style: solid;
  border-width: 1px;
}

#profile {
  border-color: #1f1f2b00;
  background-color: #1f1f2b;
  border-radius: 3ch;
  width: 5ch;
  height: 5ch;
  margin-right: 3ch;
  padding-top: 1px;
  padding-right: 2px;
  background-color: #6d84f6;
}

#profile:hover {
  color: aliceblue;
  background-color: aliceblue;
  cursor: pointer;
}

.profile-icon {
  margin-left: -6px;
  margin-top: -1px;
}

.user-details button:hover {
  background-color: #303344;
  color: crimson;
  border-style: solid;
  border-color: crimson;
  border-width: 1px;
  cursor: pointer;
}

.top h2 {
  height: 2ch;
  margin-top: 1ch;
  margin-bottom: 0ch;
  color: aliceblue;
}

.middle {
  padding: 1ch;
  height: 20ch;
  background-color: #1f1f2b;
  flex-grow: 15;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #1f1f2b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='488' height='488' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232B2760' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%235061B5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.middle::-webkit-scrollbar {
  width: 1px;
}

.from-message {
  width: auto;
  margin: 2px;
  background-color: #6d84f6;
  align-self: flex-end;
  padding: 5px;
  border-radius: 1ch;
  color: aliceblue;
}
.from-message p {
  font-size: small;
  color: #1f1f2b;
  margin: 2px;
}
.from-message h4 {
  margin: 2px;
}

.to-message {
  align-self: flex-start;
  width: auto;
  margin: 2px;
  background-color: #303344;
  padding: 5px;
  border-radius: 1ch;
  color: aliceblue;
}
.to-message p {
  color: #6d84f6;
  font-size: small;
  margin: 2px;
}

.to-message h4 {
  margin: 2px;
}

.bottom {
  background-color: #303344;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2ch;
}

.bottom input {
  height: 4ch;
  width: 85%;
  border-radius: 2ch;
  border-style: none;
  padding: 1ch;
  padding-left: 2ch;
  padding-right: 2ch;
  margin-right: 0ch;
  outline: none;
}

.bottom button {
  width: 4ch;
  height: 4ch;
  border-radius: 4ch;
  margin-left: 0ch;
  border-style: none;
  font-size: 20px;
}

.bottom button:hover {
  background-color: #6d84f6;
  color: aliceblue;
  cursor: pointer;
}

.MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root {
  margin-top: 4px;
  margin-left: 2px;
  position: relative;
  right: -2px;
  width: 24px;
  height: 24px;
}

.search {
  width: 85%;
  height: 4ch;
  margin-top: 3ch;
  padding: 2ch;
  background-color: #1f1f2b;
  border-style: solid;
  border-color: #1f1f2b;
  border-radius: 1ch;
  outline: none;
  color: aliceblue;
}

.search:focus {
  border-color: aliceblue;
  border-style: solid;
}

.contact-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 2ch;
  padding-top: 1ch;
  align-items: center;
  overflow-y: auto;
  margin-top: 1ch;
}

.contact-list::-webkit-scrollbar {
  width: 0px;
}

.contact-card {
  color: aliceblue;
  border-radius: 1ch;
  background-color: #303344;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
  width: 100%;
  margin: 1ch;
  height: 10ch;
}

.contact-card:hover {
  background-color: #6d84f6;
  cursor: pointer;
  cursor: pointer;
}

.selected-contact-card {
  background-color: #6d84f6;
  color: aliceblue;
  border-radius: 1ch;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-bottom: 1ch;
  width: 100%;
  margin: 1ch;
  height: 10ch;
}

.login-table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50ch;
  margin: auto;
  margin-top: 4ch;
  height: 45ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-table h1 {
  font-style: normal;
  margin-bottom: 5px;
}

.login-table input {
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color: #303344;
  padding: 1px;
  padding-left: 10px;
}

#labels {
  align-self: self-start;
  margin-left: 6ch;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 12px;
}

.enabledButton {
  height: 5ch;
  width: 80%;
  background-color: #6d84f6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
}

.disabledButton {
  height: 5ch;
  width: 80%;
  background-color: aliceblue;
  border-radius: 1ch;
  border-style: solid;
  border-color: #6d84f6;
  color: #6d84f6;
}

.disabledButton:hover {
  background-color: aliceblue;
  cursor: not-allowed;
}

.enabledButton:hover {
  background-color: #1f1f2b;
  cursor: pointer;
}

.signup-table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50ch;
  margin: auto;
  margin-top: 3ch;
  height: 50ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-table h1 {
  font-style: normal;
  margin-bottom: 5px;
}

.signup-table input {
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color: #303344;
  padding: 1px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.signup-table button {
  height: 6ch;
  width: 82%;
  background-color: #6d84f6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
  margin-top: 2ch;
}

.signup-table button:hover {
  background-color: #1f1f2b;
  cursor: pointer;
}

.details-table {
  width: 50ch;
  margin: auto;
  margin-top: 7ch;
  height: 45ch;
  align-items: center;
  border-radius: 1ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-table input {
  width: 80%;
  height: 5ch;
  border-radius: 1ch;
  border-style: solid;
  border-color: #303344;
  padding: 1px;
  margin-bottom: 1ch;
  padding-left: 10px;
}

.details-table button {
  margin-bottom: 3ch;
  height: 6ch;
  width: 80%;
  background-color: #6d84f6;
  border-radius: 1ch;
  border-style: none;
  color: aliceblue;
  margin-top: 2ch;
}

.details-table button:hover {
  background-color: #1f1f2b;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 0;
}

.first-page {
  margin-top: 2ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-page h1 {
  color: #6d84f6;
  margin-bottom: 0ch;
}

.first-page h2 {
  color: aliceblue;
}
.first-page button {
  margin-top: 5ch;
  height: 6ch;
  width: 20ch;
  background-color: aliceblue;
  border-style: none;
  color: #303344;
  border-style: solid;
  border-radius: 1ch;
  font-size: large;
}

.first-page button:hover {
  background-color: #303344;
  color: aliceblue;
  border-color: aliceblue;
  border-style: solid;
  cursor: pointer;
}

.signinerror {
  color: rgba(255, 0, 0, 0.723);
  text-align: center;
}

.sendMes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#pop {
  width: 15ch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2ch;
}

#pop h3 {
  margin-top: 1ch;
  margin-bottom: 1ch;
  color: aliceblue;
}

#pop button {
  width: 40%;
  height: 4ch;
  background-color: crimson;
  border-style: none;
  border-radius: 2px;
  color: aliceblue;
}

#pop button:hover {
  background-color: rgba(220, 20, 60, 0.538);
  cursor: pointer;
}

.loader {
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load {
  width: 24px;
  height: 24px;
  border: 5px solid #6d84f6;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#error-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50ch;
  margin: 5ch;
  margin-left: 45ch;
  padding: 3ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 30ch;
}

#error-box button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5ch;
  height: 5ch;
  background-color: #6d84f6;
  color: #1f1f2b;
  outline: none;
  border-style: none;
  border-radius: 2px;
  padding: 1ch;
}

#error-box button:hover {
  background-color: #3447a3;
}

.loader2 {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader2::after,
.loader2::before {
  content: "";
  margin-top: 20ch;
  margin-left: 67ch;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}
.loader2::after {
  border-color: #6d84f6;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.error-boundary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50ch;
  margin: 5ch;
  margin-left: 45ch;
  margin-top: 10ch;
  padding: 3ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 30ch;
}
